#login {
    width: 600px;
}

/* @media screen and (max-width: 300px) {
    #login {
      width: 200px;
    }  
}
*/
 
@media screen and (max-width: 600px) {
    #login {
      width: 300px;
    }  
}