#nav-brand {
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}

@media only screen and (max-width: 820px) {

    #nav-brand {
        margin: 0 auto;
    };

    #nav {
        display: none !important;
    }

    .nav-class {
        display: none !important;
    }

}