.landing-content {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.logo {
    width: 100px;
    height: 100px;
}

.content-header {

}

.content-body {
    
}

@media only screen and (max-width: 768px) {
    /* .landing-content {
        margin-top: 5vh;
    } */
    .logo {

    }
}